<div class="alert alert-block alert-info">
<center>ESTATÍSTICA APLICADA</center>
<center>PROJETO COM OS DADOS DA PRF</center>
<center>ALUNO:Eduardo Henrique Lima de Morais</center>
</div>

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

## 1ª Tarefa


Carregue em dataframes os conjuntos de dados referentes ao ano de 2018, 2019 e 2020. Corrija quaisquer erros que apareçam no carregamento dos arquivos. É possível acessar os arquivos
compactados diretamente do site, sem precisar baixá-los?

sim, usando a read_csv() com determinados parametros conseguimos puxar os dados direto do site

In [3]:
prf_2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download",compression="zip",encoding="latin1",sep=";")
prf_2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download",compression="zip",encoding="latin1",sep=";")
prf_2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download",compression="zip",encoding="latin1",sep=";")
prf_2021 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/n1T3lymvIdDOzzb/download",compression="zip",encoding="latin1",sep=";")

juntando todos os dados em um só Data Frame

In [4]:
prf_juntos=pd.concat([prf_2018,prf_2019,prf_2020,prf_2021])

## 2ª Tarefa

<div class="alert alert-block alert-info">
a) quantos acidentes ocorreram em cada ano?
</div>

primeiro uso a função nativa do python len() para pegar todas as linhas do arquivo ja que cada linha corresponde a um acidente.

In [5]:
acidentes_2018=len(prf_2018)
acidentes_2019=len(prf_2019)
acidentes_2020=len(prf_2020)
acidentes_2021=len(prf_2021)

agora pego os novos dados que criei e transformo e um data frame.

In [6]:
pd.DataFrame([acidentes_2018,acidentes_2019,acidentes_2020,acidentes_2021],index=['Ano_2018','Ano_2019','Ano_2020','Ano_2021'],columns=['Quantidade de Acidentes'])

          Quantidade de Acidentes
Ano_2018                    69295
Ano_2019                    67446
Ano_2020                    63548
Ano_2021                    64515

<div class="alert alert-block alert-info">
b) quantas variáveis cada conjunto de dados registra?
</div>

usamos novamente a função nativa len() só que agora passando o .axes[1] para pegarmos as colunas.

In [7]:
colunas_totais=len(prf_juntos.axes[1])
colunas_totais

30

<div class="alert alert-block alert-info">
c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?
</div>

primeiro criamos um Data Frame com os valores relacionados aos municipios, depois de ter criado o novo Data Frame resetamos o index e depois damos rename nas colunas para corrigir as novas colunas, e então usamos a função de pandas head() para deixar só os 5 primeiros maiores valores, e por fim um np.arange() só para deixar os index começando do um e indo ao ultimo.

In [8]:
cidades_br=pd.DataFrame(prf_juntos['municipio'].value_counts())
cidades_br=cidades_br.reset_index().rename(columns={'index':'Municipios','municipio':'Quantidade de Acidentes'}).head(5)
cidades_br.index=np.arange(1,len(cidades_br)+1)
cidades_br

  Municipios  Quantidade de Acidentes
1   BRASILIA                     3978
2   CURITIBA                     3962
3   SAO JOSE                     3011
4  GUARULHOS                     2781
5    PALHOCA                     2496

<div class="alert alert-block alert-info">
d) quantos acidentes com feridos graves aconteceram na Paraíba em 2019?
</div>

primeiros criamos um novo Data Frame com os valores do UF que sejam iguais a PB

In [9]:
paraiba=pd.DataFrame(prf_2019.loc[prf_2019['uf']=='PB'])

depois iremos buscar pelos ferimentos graves,e então contar esses valores, depois de realizar isso só precisamos somar todos os valores, usando a função sum()

In [10]:
feridos=paraiba['feridos_graves'].value_counts()
feridos = paraiba["feridos_graves"].value_counts().drop(0)
feridos.sum()

414

## 3ª Tarefa

Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.

<div class="alert alert-block alert-info">
a) ranking de acidentes por estado para todos os anos (um só arquivo combinando a
informação dos quatro anos);
</div>

primeiro chamamos o Data frame que contem todos os anos,então especifica a coluna que quer e então usa a função value_conts(), depois reseta o index e renomeia as colunas, usa um np.arange() para deixar os index melhor visualmente e só então transforma para csv usando to_csv().

In [11]:
estados = prf_juntos["uf"].value_counts()
estados = estados.reset_index().rename(columns={"index":"UF", "uf":"Quantidades de Acidentes"})
estados.index = np.arange(1,len(estados)+1)
estados.to_csv('acidentes_por_estado.csv')
estados

    UF  Quantidades de Acidentes
1   MG                     34483
2   SC                     32034
3   PR                     30185
4   RJ                     17982
5   RS                     17754
6   SP                     17236
7   BA                     13793
8   GO                     13233
9   PE                     10566
10  ES                     10543
11  MT                      9101
12  CE                      6505
13  MS                      6147
14  RO                      6067
15  PB                      5993
16  RN                      5527
17  PI                      5057
18  MA                      4631
19  DF                      3978
20  PA                      3884
21  AL                      2528
22  SE                      2255
23  TO                      2205
24  AC                      1044
25  RR                       991
26  AP                       626
27  AM                       456

<div class="alert alert-block alert-info">
b) acidentes por dia da semana para todos os anos (um só arquivo combinando a informação dos quatro anos).
</div>

fazemos um codigo bastante parecido ao da questão anterior mudando apenas as variaveis

In [12]:
acidentes_por_dia = pd.DataFrame(prf_juntos["dia_semana"].value_counts())
acidentes_por_dia = acidentes_por_dia.reset_index().rename(columns={"dia_semana": "Quantidades de Acidentes", "index": "Dias da Semana"})
acidentes_por_dia.index = np.arange(1,len(acidentes_por_dia)+1)
acidentes_por_dia.to_csv('acidentes_por_dia.csv')
acidentes_por_dia

  Dias da Semana  Quantidades de Acidentes
1         sábado                     43872
2        domingo                     43816
3    sexta-feira                     40945
4  segunda-feira                     35712
5   quinta-feira                     34471
6   quarta-feira                     33347
7    terça-feira                     32641

## 4ª Tarefa

Com relação a ocorrência dos acidentes, responda:

<div class="alert alert-block alert-info">
a) qual a causa mais frequente e a mais rara de acidentes registrados nos quatro anos?
</div>

In [13]:
causa_acidentes = pd.DataFrame(prf_juntos["causa_acidente"].value_counts())
causa_acidentes = causa_acidentes.reset_index().rename(columns={"index":"causa","causa_acidente":"qntd de acidentes"})
causa_acidentes.index = np.arange(1,len(causa_acidentes)+1)

para a causa mais frequente só precisamos usar a função head() para ver a primeira linha e somente ela.

In [14]:
causa_acidentes.head(1)

                         causa  qntd de acidentes
1  Falta de Atenção à Condução              73231

ja para a causa mais rara de se acontecer usamos um iloc[-1] para pegar a ultima linha logo a mais rara.

In [15]:
causa_acidentes.iloc[[-1]]

                              causa  qntd de acidentes
86  Sistema de drenagem ineficiente                  3

<div class="alert alert-block alert-info">
b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos
considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);
</div>

primeiro importamos a biblioteca datetime para conseguimos pegar mes a mes,depois criamos um novo DataFrame com as colunas dos meses, pessoas, ilesos e feridos graves, apos isso só precisamos somar os numeros de cada coluna pois a frente será usado para conseguimos as proporções de ilesos e feridos realizando a divisão de ilesos por pessoas e feridos por pessoas, apos isso colocamos em um novo DataFrame para reorganizarmos os dados usando funções como round() para arredondar as casas decimais e transpose() para mudar linhas por colunas, então só realizar o mesmo processo para todos os anos.

**Ano de 2018**

In [16]:
prf_2018['mes']=pd.to_datetime(prf_2018['data_inversa']).dt.month
meses_2018=prf_2018.loc[:,['mes','pessoas','ilesos','feridos_graves']]
somatoria= meses_2018.groupby(by='mes').sum()
proporção= (somatoria['ilesos'] / somatoria['pessoas'])
feridos=(somatoria['feridos_graves'] / somatoria['pessoas'])
data=pd.DataFrame([proporção,feridos],index=['Ilesos','Feridos Graves']).round(2).transpose()
data

     Ilesos  Feridos Graves
mes
1      0.51            0.09
2      0.50            0.09
3      0.48            0.10
4      0.43            0.11
5      0.42            0.11
6      0.43            0.12
7      0.44            0.11
8      0.43            0.11
9      0.42            0.12
10     0.43            0.11
11     0.43            0.12
12     0.43            0.11

**Ano de 2019**

In [20]:
prf_2019['mes']=pd.to_datetime(prf_2019['data_inversa']).dt.month
meses_2019=prf_2019.loc[:,['mes','pessoas','ilesos','feridos_graves']]
somatoria= meses_2019.groupby(by='mes').sum()
proporção= (somatoria['ilesos'] / somatoria['pessoas'])
feridos=(somatoria['feridos_graves'] / somatoria['pessoas'])
data=pd.DataFrame([proporção,feridos],index=['Ilesos','Feridos Graves']).round(2).transpose()
data

     Ilesos  Feridos Graves
mes
1      0.42            0.11
2      0.42            0.11
3      0.43            0.11
4      0.42            0.11
5      0.42            0.12
6      0.42            0.12
7      0.44            0.12
8      0.41            0.12
9      0.42            0.11
10     0.42            0.12
11     0.43            0.11
12     0.42            0.11

**Ano de 2020**

In [21]:
prf_2020['mes']=pd.to_datetime(prf_2020['data_inversa']).dt.month
meses_2020=prf_2020.loc[:,['mes','pessoas','ilesos','feridos_graves']]
somatoria= meses_2020.groupby(by='mes').sum()
proporção= (somatoria['ilesos'] / somatoria['pessoas'])
feridos=(somatoria['feridos_graves'] / somatoria['pessoas'])
data=pd.DataFrame([proporção,feridos],index=['Ilesos','Feridos Graves']).round(2).transpose()
data

     Ilesos  Feridos Graves
mes
1      0.42            0.11
2      0.42            0.11
3      0.40            0.11
4      0.38            0.12
5      0.40            0.12
6      0.42            0.12
7      0.42            0.11
8      0.42            0.12
9      0.42            0.12
10     0.41            0.12
11     0.41            0.12
12     0.41            0.12

**Ano de 2021**

In [22]:
prf_2021['mes']=pd.to_datetime(prf_2021['data_inversa']).dt.month
meses_2021=prf_2021.loc[:,['mes','pessoas','ilesos','feridos_graves']]
somatoria= meses_2021.groupby(by='mes').sum()
proporção= (somatoria['ilesos'] / somatoria['pessoas'])
feridos=(somatoria['feridos_graves'] / somatoria['pessoas'])
data=pd.DataFrame([proporção,feridos],index=['Ilesos','Feridos Graves']).round(2).transpose()
data

     Ilesos  Feridos Graves
mes
1      0.43            0.11
2      0.41            0.12
3      0.41            0.11
4      0.41            0.12
5      0.42            0.12
6      0.43            0.11
7      0.43            0.11
8      0.42            0.12
9      0.42            0.12
10     0.41            0.12
11     0.43            0.12
12     0.42            0.11

<div class="alert alert-block alert-info">
c) mostre, reorganizando o conjunto de dados, se a pandemia conseguiu diminuir ou não
a incidência de acidentes nas rodovias federais.
</div>

primeiro concatenamos as colunas antes da pandemia que seriam os anos de 2018 e 2019 e usamos um len para ver a quantidade total de acidentes e depois concatenamos os anos de 2020 e 2021 que seriam os anos durante a pandemia tiramos a media aritmética de cada periodo e comparamos para descobrimos se teve ou não um aumento ou diminuição.

In [174]:
sem_pandemia=len(pd.concat([prf_2018,prf_2019]))
com_pandemia=len(pd.concat([prf_2020,prf_2021]))
sem=sem_pandemia/2
com=com_pandemia/2
diferença=sem-com

In [175]:
data=pd.DataFrame([sem,com,diferença],index=['Sem Pandemia','Com Pandemia','Diferença']).rename(columns={0:'Incidentes'})
data

              Incidentes
Sem Pandemia     68370.5
Com Pandemia     64031.5
Diferença         4339.0

apos isso tudo percebemos que durante a pandemia ouve a diminuição de acidentes